@import url('https://fonts.googleapis.com/css?family=Comfortaa');
body {
background-color: #4483d0; 
font-family: 'Comfortaa', cursive;
}

.button {
    background-color: green; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  
}
